__pycache__
*.ckpt
*.safetensors
*.pth
.DS_Store
/ESRGAN/*
/SwinIR/*
/repositories
/backend/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/backend/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/backend/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/backend/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/backend/config_states/
/node_modules
/package-lock.json
/.coverage*
/test/test_outputs
/cache
/backend/cache
trace.json
webui_launch.log
webui_output.log
/sysinfo-????-??-??-??-??.json
